# Create a .env file in the root of the project with the following content, replacing the placeholder values with your actual configuration:

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_here
DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=secret_django_key_here
DJANGO_DEBUG=True
DJANGO_SU_USERNAME=agi
DJANGO_SU_PASSWORD=password_here
DJANGO_SU_EMAIL=email_here

OPENAI_API_KEY=openai_api_key_here
# KB_EMBEDDER_BACKEND=local
# KB_EMBED_DIM would change depending on the local model
KB_EMBEDDER_BACKEND=openai
KB_OPENAI_EMBED_MODEL=text-embedding-3-small
KB_EMBED_DIM=1536
